/* Default Elements */
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2vw;
    font-weight: 700;
}

h2 {
    font-size: 1.50vw;
    font-weight: 500;
}

p {
    font-size: 0.75vw;
}

img.logo {
    width: 7.5vw;
    padding: 0px;
}

img.logo-footer {
    width: 5vw;
    padding: 0px;
}

img.avatar {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
}

/* Navbar */
nav {
    display: flex; 
    align-self: flex-start; 
    gap: 1.25rem;  
    width: 100%;
}

nav > img, nav > ul {
    padding: 2rem;
    font-weight: 700;
    font-size: 1.25vw;
}

nav > ul {
    display: flex; 
    flex-grow: 1; 
    align-items: center; 
    justify-content: space-between; 
    gap: 1rem;
    text-align: center;
}

nav > ul > li > a {
    color: rgb(95, 190, 0);
}

nav > ul > li > a:hover{
    color: rgb(71, 139, 3);
    text-decoration: underline;
}

nav > ul > li > a.current{
    color: black;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

main > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main > * > iframe {
    align-self: center;
}

main > * > * {
    padding: 2rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer > div > * {
    color: black;
    font-size: 1vw;
}

footer > div:nth-of-type(1) {
    font-weight: 700;
}

footer > div:nth-of-type(1) > * {
    padding: 1rem;
}

footer > div:nth-of-type(2) > hr {
    width: 50%;
}

footer > div:nth-of-type(3) {
    padding: 1rem 0rem 1rem 0rem;
}

footer > div:nth-of-type(4) > p {
    font-weight: 200; 
    font-size: 0.75vw;
}

/* Classes */

.container-left {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-right {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.about-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-container > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-container > div > img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.about-container > div > p {
    color: rgb(119, 119, 119);
    font-weight: 200; 
    font-size: 1vw;
    font-style: italic;
}

.about-description {
    text-align: center;
    width: 50%;
    align-self: center;
}

.about-description > p {
    font-size: 1.25rem;
}