<!-- Create the landing page -->
<article>
    <div class="landing-container" id="definisi">
        <iframe src="https://www.youtube.com/embed/kmmjbGRlReA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto;">     
            <h2>
                Apa Definisi dari Rumput Laut / Seaweed?
            </h2>
            <p>
                Rumput laut atau Seaweed merupakan salah satu tumbuhan laut yang
                tergolong dalam makroalga benthik yang banyak hidup melekat di dasar
                perairan. Rumput laut merupakan ganggang yang hidup di laut dan
                tergolong dalam divisi thallophyta. Klasifikasi rumput laut berdasarkan
                kandungan pigmen terdiri dari 4 kelas, yaitu rumput laut hijau
                (Chlorophyta), rumput laut merah (Rhodophyta), rumput laut coklat
                (Phaeophyta) dan rumput laut pirang (Chrysophyta) sebagaimana disajikan
                pada Tabel 1 dan Gambar 1.
            </p>
        </div>
    </div>
</article>
<article class="landing-container">
    <div>
        <img src="/images/Gambar1.PNG" alt="Morfologi Rumput Laut">
    </div>
    <div>
        <img src="/images/Tabel1.PNG" alt="Karakteristik Rumput Laut">
    </div>
</article>
<article id="morfologi-jenis-klasifikasi">
    <h2>Bagaimana Morfologi dan Jenis / Klasifikasi dari Rumput Laut / Seaweed?</h2>
    <div style="background-color: #B9FF88; margin: 2rem; display: flex; flex-wrap: wrap; justify-content: space-around; gap: 1rem; box-shadow: 0px 4px 4px #B9FF88;">
        <img src="/images/Plate1.PNG" style="width: 25%; height: 25%; margin-top: auto; margin-bottom: auto;" alt="Plate 1">
        <img src="/images/Plate2.PNG" style="width: 15%; height: 15%; margin-top: auto; margin-bottom: auto;" alt="Plate 2">
        <img src="/images/Plate3.PNG" style="width: 25%; height: 25%; margin-top: auto; margin-bottom: auto;" alt="Plate 3">
        <img src="/images/Plate4.PNG" style="width: 25%; height: 25%; margin-top: auto; margin-bottom: auto;" alt="Plate 4">
        <img src="/images/Plate5.PNG" style="width: 25%; height: 25%; margin-top: auto; margin-bottom: auto;" alt="Plate 5">
        <img src="/images/Plate6.PNG" style="width: 25%; height: 25%; margin-top: auto; margin-bottom: auto;" alt="Plate 6">
    </div>
</article>
<article id="cara-budidaya">
    <h2>Bagaimana Cara Budidaya Rumput Laut / Seaweed?</h2>
    <div class="landing-container">
        <iframe src="https://www.youtube.com/embed/b349wlwGQKY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto; text-align: justify;">     
            <p>
                Budidaya rumput laut dapat dilakukan di areal pantai lepas maupun di tambak. Dalam pembahasan sekarang ini kita akan menekankan pada budidaya di tambak. Hal ini mengingat peran TON (Tambang Organik Nusantara) yang tidak efektif jika diperairan lepas (pantai). Untuk budidaya perairan lepas dibedakan dalam beberapa metode, yaitu :
            </p>
            <ol type="1" style="list-style-type: decimal; text-align: center;">
                <li>Metode Lepas Dasar</li>
                <li>Metode Rakit</li>
                <li>Metode Tali Gantung</li>
            </ol>
        </div>
    </div>
</article>
<article id="negara-importir">
    <h2>Siapa Negara Importir Rumput Laut / Seaweed dari Indonesia?</h2>
    <div class="landing-container" style="background-color: #ff000071; margin-left: 20rem; margin-right: 20rem;">
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto;">     
            <p>
                Produksi rumput laut di Indonesia sangat besar dan meningkat secara pesat dalam kurun waktu 4 (empat) tahun terakhir. Pada tahun 2012, Indonesia adalah merupakan salah satu negara produsen rumput laut terbesar dunia, khususnya untuk jenis Red Seaweed. Menurut data FAO, Indonesia menghasilkan 5,2 juta ton rumput laut di tahun 2011.
            </p>
        </div>
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto;">     
            <p>Berikut negara importir rumput laut / seaweed di Indonesia, yaitu:</p>
            <ul style="text-align: center;">
                <li>Tiongkok</li>
                <li>Jepang</li>
                <li>Korea Selatan</li>
                <li>Chili</li>
                <li>Jerman</li>
                <li>Kanada</li>
                <li>Vietnam</li>
            </ul>
        </div>
    </div>
</article>
<article id="karakteristik">
    <h2>Bagaimana Karakteristik Rumput Laut / Seaweed?</h2>
    <div class="landing-container">
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto;">     
            <img src="/images/Sargassum_Sp_E_Cottonii.png" alt="Sargassum Sp. dan E. Cottonii">
        </div>
        <img src="/images/Tabel1_alt.png" alt="Tabel Karakteristik">
    </div>
</article>
<article id="habitat">
    <h2>Dimana Habitat dan Daerah Penghasil Rumput Laut / Seaweed di Indonesia?</h2>
    <div class="landing-container">
        <img src="/images/Ilustrasi Rumput Laut.PNG" alt="Ilustrasi Rumput Laut">
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 25%; margin-top: auto; margin-bottom: auto;">     
            <p>Wilayah persebaran rumput laut di Indonesia meliputi perairan pantai kepulauan Riau, Selat Sunda, Kepulauan Seribu dan Karimunjawa. Pada wilayah ini lebih banyak ditemukan rumput laut yang hidup pada substrat terumbu karang. Wilayah pulau-pulau Kalimantan Timur dan Sulawesi Selatan akan banyak menjumpai rumput laut yang hidup pada substrat berlumpur. Rumput laut yang hidup pada substrat berpasir menyebar di seluruh perairan laut Indonesia seperti Selat Sunda, Jawa bagian selatan, NTT-B, pulau-pulau Sulawesi selatan dan utara dan perairan Maluku.</p>
        </div>
    </div>
</article>
<article id="manfaat">
    <div class="landing-container" style="justify-content: space-around;">
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 50%; margin-top: auto; margin-bottom: auto; text-align: center;">     
            <img src="/images/Tabel Manfaat.PNG" alt="Manfaat Rumput Laut">
            <img src="/images/Gambar Manfaat.PNG" alt="Contoh Manfaat Rumput Laut">
        </div>
        <div style="display: flex; flex-direction: column; gap: 5rem; width: 50%; margin-top: auto; margin-bottom: auto; text-align: center;">     
            <h2>Apa Manfaat Rumput Laut / Seaweed?</h2>
            <img src="/images/Tabel Manfaat2.PNG" alt="Manfaat Rumput Laut (Lanjutan)">
        </div>
    </div>
</article>
<article id="harga">
    <div class="landing-container" style="justify-content: space-around;">
        <div style="display: flex; flex-direction: column; gap: 5rem; width: 25%; margin-top: auto; margin-bottom: auto; text-align: center;">     
            <h2>Terakhir, Berapa Harga Tiap Jenis Rumput Laut / Seaweed?</h2>
        </div>
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 50%; margin-top: auto; margin-bottom: auto; text-align: center;">     
            <img src="/images/Harga Seaweed.PNG" alt="Tabel Harga Seaweed">
        </div>
    </div>
</article>