<article class="peta-situs">
    <h2>
        Peta Situs
    </h2>
    <ul style="display: flex; flex-flow: column; gap: 1rem;">
        <li>
            <a href="/habitat">
                Habitat
            </a>
        </li>
        <li>
            <a href="/harga">
                Harga
            </a>
        </li>
        <li>
            <a href="/karakteristik">
                Karakteristik
            </a>
        </li>
        <li>
            <a href="/klasifikasi">
                Klasifikasi
            </a>
        </li>
        <li>
            <a href="/manfaat">
                Manfaat
            </a>
        </li>
        <li>
            <a href="/morfologi">
                Morfologi
            </a>
        </li>
        <li>
            <a href="/cara_budidaya">
                Cara Budidaya
            </a>
        </li>
        <li>
            <a href="/daerah_penghasil">
                Daerah Penghasil
            </a>
        </li>
        <li>
            <a href="/negara_importir">
                Negara Importir
            </a>
        </li>
    </ul>
</article>