<article class="peta-situs">
    <h2>
        Peta Situs
    </h2>
    <ul style="display: flex; flex-flow: column; gap: 1rem;">        
        <li>
            <a href="/#definisi">
                Definisi
            </a>
        </li>
        <li>
            <a href="/#morfologi-jenis-klasifikasi">
                Morfologi dan Jenis / Klasifikasi
            </a>
        </li>
        <li>
            <a href="/#cara-budidaya">
                Cara Budidaya
            </a>
        </li>
        <li>
            <a href="/#negara-importir">
                Negara Importir
            </a>
        </li>
        <li>
            <a href="/#karakteristik">
                Karakteristik
            </a>
        </li>
        <li>
            <a href="/#habitat">
                Habitat
            </a>
        </li>
        <li>
            <a href="/#manfaat">
                Manfaat
            </a>
        </li>
        <li>
            <a href="/#harga">
                Harga
            </a>
        </li>
        <li>
            <a href="/tentang_kami">
                Tentang Kami
            </a>
        </li>
        <li>
            <a href="/daftar_pustaka">
                Daftar Pustaka
            </a>
        </li>
        <li>
            <a href="/peta_situs">
                Peta Situs
            </a>
        </li>
    </ul>
</article>