<article class="about-container">
    <div>
        <img src="/images/Rengganis.png" alt="Rengganis">
        <h2>Rengganis Nurul Aini</h2>
        <p><i>55418998</i></p>
    </div>
    <div>
        <img src="/images/Rayhan.png" alt="Rayhan">
        <h2>Rayhan Gusty Alif</h2>
        <p><i>55418944</i></p>
    </div>
</article>
<article class="about-description">
    <h2>
        Cerita Tentang Seaweed Inc.
    </h2>
    <p>
        Sebelumnya, kami ucapkan terimakasih kepada Bu Suryarini Widodo yang sudah memberikan tugas akhir mata kuliah pemrograman web sehingga terciptanya website ini.
    </p>
    <p>
        Seaweed, Inc. dibuat oleh dua mahasiswa, Rayhan dan Rengganis yang sangat tertarik dengan perkembangan teknologi Pemrograman WEB. Dengan mengambil tema rumput laut yang sekaligus diangkat menjadi nama sebagai ciri khas sebuah perusahaan, Seaweed, Inc. mengupas tuntas segala informasi terkini mengenai rumput laut baik dalam segi morfologi, jenis / klasifikasi, habitat, karakteristik / ciri-ciri, kegunaan / manfaat, cara budidaya, daerah penghasil rumput laut di Indonesia, negara importir rumput laut dari Indonesia dan bahkan jenis dan harga rumput laut. Kami berharap dengan dibuatnya website ini, para petani maupun pembaca dapat turut menerima manfaat saat belajar membudidayakan rumput laut dengan keuntungan yang lebih tinggi lagi.
    </p>
    <p>
        Salam Seaweed!
    </p>
</article>